<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-3">
  <div class="container">
    <a class="navbar-brand logo-w" href="index.html">
        <img src="/assets/images/logo.svg" alt="logo">
    </a>
    
    <a href="user.html" class="order-lg-3 ms-auto me-3">
        <img src="/assets/images/avatar.png" alt="頭像" class="user-img rounded-circle border me-2 fs-small fs-md-normal">
        Mokumaru
    </a>
    <button class="navbar-toggler border-0 order-lg-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link text-black" href="#">服務方案</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-black" href="#">關於職旅</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-black" href="#">聯絡我們</a>
        </li>  
      </ul>
    </div>
  </div>
</nav> -->



<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom py-3">
  <div class="container">
    <!-- LOGO -->
    <a class="navbar-brand logo-w" href="index.html">
      <img src="/assets/images/logo.svg" alt="logo">
    </a>

    <!-- 頭像 -->
    <a href="user.html" class="order-lg-3 ms-auto me-3">
        <img src="/assets/images/avatar.png" alt="頭像" class="user-img rounded-circle border me-2 fs-small fs-md-normal">
        Mokumaru
    </a>



    <button class="navbar-toggler border-0 order-lg-2" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex flex-column h-100">
        <div class="d-lg-flex align-items-center">
          <div class="d-flex justify-content-end mt-5 me-5">
            <!-- 關閉按鈕 -->
            <button type="button" class="btn p-3 d-lg-none" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-label="Close">
              <span class="material-symbols-outlined">
                close
              </span>
            </button>
          </div>
          <!-- 選單列表 -->
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link py-4 px-4 px-md-5 text-black text-center" href="service.html">服務方案</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-4 px-4 px-md-5 text-black text-center" href="about.html">關於職旅</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-4 px-4 px-md-5 text-black text-center" href="content.html">聯絡我們</a>
            </li>
          </ul>
        </div>
        <!-- 綠色登出按鈕 -->
        <div class="d-grid mt-auto mx-5 mb-5 d-lg-none">
          <button type="button" class="btn rounded-2 bg-secondary-50 py-2 py-md-3 fs-5 fs-md-4 fw-bold">登出
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

